#Configuration info
[Project Info]
    Project = 0x2172F

[SensorModuleConfiguration]
    storagePath = /odm/lib64/camera

[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera
    EngineerCamera  = com.oppo.engineermode; com.oppo.engineermode.camera; com.oplus.engineermode; com.oplus.engineercamera

[OemCommonCapbility]
    IsProfessionalRaw = TRUE
    IsUltraRes108M = TRUE
    isUsedFlash = TRUE
    isResetNightCropInfo = TRUE
    isNeedHdrEvMin = TRUE
    IsEnableAsyncClose = true
    IsThirdFaceDetect = true
    isCapabilitySensor = TURE
    minExposureTime0 = 84136
    minExposureTime1 = 13026

[SwMCTFCapbility]
    SWMCTFEnable = true
    EISNV21 = true

[PackageName Group]
    CTSCamera       = android.camera.cts
    CTSVerifyCamera = com.android.cts.verifier
    CyworldCamera   = com.cyworld.camera
    WechatCamera    = com.tencent.mm
    whatsapp        = com.whatsapp
    mobileQQ        = com.tencent.mobileqq
    picsart         = com.picsart.studio
    Linkedin        = com.linkedin.android
    IMOBeta         = com.imo.android.imoimbeta
    IMO             = com.imo.android.imoim
    BIGOLive        = sg.bigo.live
    WechatVideoCallActivity = com.tencent.mm.plugin.voip.ui.VideoActivity


###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 5
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMacroCameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration

[ActuatorInfo]
    boundType = 0  #0 - like VCM type, lowbound is 0; 1 -- like BIVCM tyep, lowbound need cal.

[EISGyroInfo]
    gyroType = gyro

[XtsSetting]
    disablePartialMetadata = true
    ItsDisableASF = true

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    oemCameraType      = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    oemCameraType      = 13

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleMacroCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMacroCameraDeviceInfo
    primarySensorID    = 3
    oemCameraType      = 17

[SingleMacroCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

###LogicalCameraConfiguration end

[OemCameraTypeMap]
#             LogicalId  CameraType
Mode[0]      =    0;        0
Mode[1]      =    1;        1
Mode[2]      =    2;        2
Mode[3]      =    3;        17
Mode[4]      =    4;        8

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask         index
    Mode[0]      =        0x8001;            0x0004;            0x0000;           0  #COMMON
    Mode[1]      =        0x8001;            0xFFFF;            0x0000;           1  #COMMON
    Mode[2]      =        0x8001;            0x0001;            0x0000;           3  #COMMON Photo mode use 46fps For ICE
    Mode[3]      =        0x8001;            0x0001;            0x0010;           0  #COMMON Single Rear Remosaic
    Mode[4]      =        0x8001;            0x0002;            0x0000;           1  #COMMON
    Mode[5]      =        0x8001;            0x0002;            0x0010;           0  #COMMON Single Front Remosaic
    Mode[6]      =        0x8001;            0x0008;            0x0000;           0  #COMMON
    Mode[7]      =        0x8007;            0xFFFF;            0x0000;           1  #Panorama
    Mode[8]      =        0x8009;            0x0001;            0x0000;           1  #Professional REAR
    Mode[9]      =        0x800B;            0x0001;            0x0000;           2  #COMMON VIDEO REAR
    Mode[10]      =        0x800B;            0x0002;            0x0000;           3  #COMMON VIDEO FRONT
    Mode[11]     =        0x0001;            0xFFFF;            0x0000;           9  #COMMON VIDEO
    Mode[12]     =        0x800C;            0x0001;            0x0000;           6  #Fastvideo rear
    Mode[13]     =        0x800C;            0x0002;            0x0000;           3  #FastVideo front
    Mode[14]     =        0x800e;            0x0001;            0x0000;           1  #MengPai      REAR
    Mode[15]     =        0x8011;            0x0001;            0x0000;           3  #FULL PORTRAIT REAR
    Mode[16]     =        0x8011;            0x0004;            0x0000;           0  #FULL PORTRAIT REAR
    Mode[17]     =        0x8019;            0x0002;            0x0000;           1  #SN FRONT
    Mode[18]     =        0x8019;            0x0001;            0x0000;           1  #SN MAIN RARE SUPERNIGHT
    Mode[19]     =        0x8019;            0x0004;            0x0000;           0  #SN WIDE SUPERNIGHT
    Mode[20]     =        0x8028;            0x0001;            0x0000;           2  #EIS size
    Mode[21]     =        0x800B;            0x0004;            0x0000;           0  #WIDE VIDEO SIZE
    Mode[22]     =        0x80A3;            0x0004;            0x0000;           0  # MOVIE WIDE VIDEO SIZE

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0000;            0x0001;        0x0000;       1;
    Mode[1]        =      0x0000;            0x0002;        0x0000;       1;
    Mode[2]        =      0x0000;            0x0004;        0x0000;       0;
    Mode[3]        =      0x0000;            0x0008;        0x0000;       0;

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =        10 ;          10;
    OemFpsRange[0] =        15 ;          15;
    OemFpsRange[1] =        15 ;          20;
    OemFpsRange[2] =        20 ;          20;

[CtsCamSensorSettingMap]
    #                  cts_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0003;       1;
    Mode[1]        =      0x0001;            0x0003;       1;
    Mode[2]        =      0x0002;            0x0003;       1;

[oppoCamRatioSensorSettingMap]
    #                    operation_mode     Ratio_mode         sensor_mask   index
    Mode[0]        =      0x8019;            0x0000;            0x0001;       1;
    Mode[1]        =      0x8019;            0x0001;            0x0001;       1;
    Mode[3]        =      0x8001;            0x0000;            0x0001;       1;
    Mode[4]        =      0x8001;            0x0001;            0x0001;       1;

[ThirdAppCamRatioSensorSettingMap]
    #                  Ratio_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0001;       1;
    Mode[1]        =      0x0000;            0x0002;       1;
    Mode[2]        =      0x0001;            0x0001;       2;
    Mode[3]        =      0x0001;            0x0002;       1;

[RawSanpshotArr]
#sensor list           sensor_name
    Sensor[0]      =     messi_qtech_s5khm6_rear

[ResetSupernightCrop]
#sensor list           sensor_name
    Sensor[0]      =     messi_sy_imx471_front

[OemCamxSettings]
    numChiThread = 6

[DNGTag]
    UseUnityCalibrationMatrix = 1

[OemPruneFeatureGraph]
    PruneSWRemosaic = true

[OemFastShutter]
    IsSupport = true

[GSIBuildMulticamTest]
    allowTest = 0  #identity will result in too many camera open

[OemOptimizePerf]
    AsyncPipelineCreateForMultiCam  = true
    AsyncPipelineDesTroyForMultiCam = true

[OemCommonCapbility]
    isEnableDumpSNData = true

[SnData]
  # Camera[deviceindex] = devIndex, isWRP ,isAvailable, dataAddress, offset, dataSize
    Camera[12]  =  1; 0; 1; 0x00B0; 0x00B0; 17;
    Camera[14]  =  4; 0; 1; 0x00B0; 0x00B0; 17;
    Camera[13]  =  3; 0; 1; 0x00B0; 0x00B0; 17;
    Camera[15]  =  2; 0; 1; 0x00E0; 0x00E0; 17;

[OemSupportedCustomImageSizes]
#                   width   height
ImageSizes[0]  =   4608;   3456
ImageSizes[1]  =   4608;   2592
ImageSizes[2]  =   4608;   2080
ImageSizes[3]  =   4000;   3000
ImageSizes[4]  =   4000;   2256
ImageSizes[5]  =   4000;   1818
ImageSizes[6]  =   4000;   1800
ImageSizes[7]  =   3840;   1644
ImageSizes[8]  =   3456;   3456
ImageSizes[9]  =   3456;   2592
ImageSizes[10]  =   3264;   2448
ImageSizes[11]  =   3264;   1836
ImageSizes[12]  =   3264;   1472
ImageSizes[13]  =   3200;   1440
ImageSizes[14]  =   3000;   3000
ImageSizes[15]  =   2592;   1944
ImageSizes[16]  =   2520;   1080
ImageSizes[17]  =   2448;   2448
ImageSizes[18]  =   2328;   1748
ImageSizes[19]  =   2592;   1168
ImageSizes[20]  =   2304;   1296
ImageSizes[21]  =   2304;   1046
ImageSizes[22]  =   2160;   1080
ImageSizes[23]  =   1944;   1944
ImageSizes[24]  =   1920;   864
ImageSizes[25]  =   1920;   856
ImageSizes[26]  =   1600;   1200
ImageSizes[27]  =   1600;   800
ImageSizes[28]  =   1600;   716
ImageSizes[29]  =   1584;   720
ImageSizes[30]  =   1188;   540
ImageSizes[31]  =   1200;   540
ImageSizes[32]  =   960;    1080
ImageSizes[33]  =   792;    360
ImageSizes[34]  =   720;    540
ImageSizes[35]  =   640;    640
ImageSizes[36]  =   320;    240

[OplusVendorID]
#00:oneplus; 01:oppo; 02: realme
    vendorID  = 2

[SkipPreviewAfterSnapshot]
    #                mode    framesnum
    Skip[0]     =     28;     1;
    Skip[1]     =     4;      1;

[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = false
    NumberOfSensors      = 1
    SensorName           = messi_qtech_s5khm6_rear
    logicalCameraId      = 0

#logical id
[UselessFeature_0]
    #operateMode             featureName
    Operation[0x8001]   =     anchorsync; demux; frameselect; fusion; hdr; rawhdr; serializer; mfsr; stub; qcfa;

#logical id
[UselessFeature_1]
    #operateMode             featureName
    Operation[0x8001]   =     anchorsync; demux; frameselect; fusion; hdr; rawhdr; serializer; mfsr; stub;

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname

[TintlessHystControl]
     #tintless hyst control    cameraId    hyst_control_var    hyst_mode    hyst_trigger.start1    hyst_trigger.end1    hyst_trigger.start2    hyst_trigger.end2
     HystControl[0] =             0;             0;                0;               310;                  300;                   0.9;                  0.91
     HystControl[1] =             0;             6;                1;               4500;                 4800;                  0.9;                  0.91
     HystControl[2] =             2;             0;                0;               310;                  300;                   0.9;                  0.91
     HystControl[3] =             2;             6;                1;               4500;                 4800;                  0.9;                  0.91
     HystControl[4] =             1;             0;                0;               260;                  250;                   0.9;                  0.91
     HystControl[5] =             1;             6;                1;               3500;                 3800;                  0.9;                  0.91

[ProfessionalAutoMode]
    FixedRawSensitivityBoost = TRUE

[ThirdAppCamSensorSettingMap]
    #                               camera id  FPS    width    height  operation mode  setting index
    android.app.appops.cts[0]      =    0;     -1;    -1;      -1;         -1;            0
    android.app.appops.cts[1]      =    1;     -1;    -1;      -1;         -1;            0
